@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=PT+Sans:wght@400;700&family=Roboto+Mono:wght@200&display=swap');

::selection{
    background-color: #2cc283;
}

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    font-family: 'Dongle', 'Sans Serif';
    overflow: hidden;
}
nav{
    width: 100vw;
    height: 75px;
    background-color: #2cc283;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-shadow: rgba(0,0,0,0.3) 0px 0px 25px 0px;
}
nav p{
    color: #fff;
    font-size: 30px;
}
nav ul{
    height: 75px;
    width: 35vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
nav a.active{
    text-decoration: underline;
}
nav a:hover{
    text-decoration: underline;
}
nav a.brand:hover{
    text-decoration: none;
}

header{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .textbox h1{
    font-size: 40px;
    transition: margin 0.5s;
}
header .textbox p{
    margin-top: -10px;
    font-size: 26px;
    transition: margin 0.5s;
    text-align: center;
}
header .textbox button{
    margin-top: 15px;
    border: none;
    background-color: #2cc283;
    color: #fff;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;

    transition: background-color 0.2s;
    cursor: pointer;
    transition: margin 0.5s;
}
header .textbox button:hover{
    background-color: #555;
}
header .textbox.error404 h1{
    font-size: 90px;
}
header .textbox.error404 p{
    margin-top: -50px;
    font-size: 50px;
}
header .textbox.textbox.error404 .error1{
    color: rgba(0,0,0,0.3);
}

#discover-table{
    margin: 50px 0;
}
#discover-table td{
    height: 475px;
    width: 45vw;
}
#discover-table td:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #eee;
}

#discover-table h2{
    font-size: 45px;
    width: 100%;
    text-align: center;
}
#discover-table p{
    font-size: 25px;
    width: 100%;
    text-align: center;
}
#discover-table a{
    font-size: 25px;
}
#discover-table iframe{
    height: 100%;
    width: 100%;
}
#discover-table iframe:hover, #discover-table td:nth-child(odd):hover, #discover-table h2:hover, #discover-table a:hover, #discover-table p:hover{
    /* color: red; */
    /* background-color: orange; */
    animation: crazy ease 0.1s infinite;
    cursor: progress;
}

@keyframes crazy {
    0%{
        color: red;
        background-color: orange;
    }
    25%{
        transform: scale(5) rotate(20deg);
    }
    50%{
        color: green;
        background-color: blue;
    }
    75%{
        transform: scale(0.2);
    }
    100%{
        color: red;
        background-color: orange;
    }
}

@media only screen and (max-width: 900px) {
    nav ul{
        width: 50%;
    }
    #discover-table{
        display: flex;
        flex-direction: column;
    }
    #discover-table td{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
  }

img.cookie{
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
img.cookie.goCrazy{
    animation: rgb 1s linear infinite;
    transform: scale(3);
}
@keyframes rgb {
    0%{
        filter: hue-rotate(0deg) contrast(2);
    }
    33%{
        filter: hue-rotate(120deg) contrast(2);
    }
    67%{
        filter: hue-rotate(240deg) contrast(2);
    }
    100%{
        filter: hue-rotate(0deg) contrast(2);
    }
}

.cookieBox{
    animation: rotateCookie 5s linear infinite;
}
img.cookie:active{
    transform: scale(1.3);
}
span.booster{
    margin-top: 30px;
}
.cookieBox h4{
    z-index: 30;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    margin-top: 120px;
    animation: rotateCookie 2s infinite reverse, growText 30s infinite;
    color: red;
    pointer-events: none;
}
.cookieBox h5{
    z-index: 30;
    position: absolute;
    font-size: 160px;
    font-weight: bold;
    margin-top: 120px;
    animation: rotateCookie 1s infinite reverse, growText 30s infinite;
    color: red;
    pointer-events: none;
}

@keyframes growText {
    0%{
        transform: scale(1);
    }
    6%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: scale(100);
    }
}

@keyframes rotateCookie {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

span.booster .grey{
    animation: nothing 1s infinite;
    background-color: #999;
}
span.booster .buyable{
    animation: buyable 1s infinite;
    background-color: #2cc283;
}

@keyframes buyable {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(5deg) translateY(-10px);
    }
    50%{
        transform: rotateZ(-5deg) translateY(-10px);
    }
    100%{

    }
}

@keyframes nothing {
    0%{
        transform: scale(1);
    }
}

.cheatbox{
    opacity: 0;
    position: absolute;
    margin-top: -750px;
    transition: all 0.3s;
}
.cheatbox:hover{
    opacity: 1;
}